/* =====// section //===== */
/* =====// title */
/* description */

/*
    !! root 변수
    (이름 => {name} : 내용)

    >> 폰트
    --font-{name}
        로고 => logo: 강원교육튼튼
        제목 => title: 강원교육튼튼
        내용 => cont: 나눔고딕
        메시지 => msg: 강원교육모두

    >> 폰트 크기
    --font-size-{name}
        로고 => logo: 30px
        제목 => head1 ~ 6: 28 ~ 18px (n-=2)
        내용 => cont1 ~ 4: 16 ~ 10px (n-=2)
        메뉴 => menu1, 2: 12px, 14px
        버튼 => button: 14px;
        입력 => input: 12px;

    >> 색상
    --color-{name}
        메인 => main: #
        서브 => sub: #

        메뉴 => navi: rgba(51, 51, 51 .2)

        블랙 => black: #333333;
            기본 폰트, 검정 대용
        레드 => red: #092C2C;
            경고(변경, 탈퇴, 삭제 등)
        그린 => green: #509797;
            긍정(동의, 저장, 확인 등)
        그레이 => gray: #CCCCCC;
            배경 회색
        다크그레이 => darkgray: #909090
            폰트 회색

        그림자(기본) => shadow: rgba(0, 0, 0, .2)
            그림자 색(투명도 20%)
        그림자(폰트용) => shadow-font: rgba(0, 0, 0, .7)
            그림자 색(투명도 70%)
        
    >> 그림자
    --shadow-{name}
        기본 => basic: 3px 3px 5px var(--color-shadow)
            기본적인 바깥 그림자
        안쪽 => inner: 0px 3px 3px var(--color-shadow)
            게시판 컨텐츠용 안쪽 그림자
        폰트 => font: 3px 3px 5px var(--color-shadow-font)

    >> 모서리
    --radius-{name}
        기본 => basic => 20px
        버튼 => button => 5px
        소형 => samller => 3px
*/

/* =====// import */
@import url(../root.css);

/* =====// body display, height, font */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    font-family: var(--font-cont);
    font-size: var(--font-size-cont3);
}

/* =====// header start //===== */
/* =====// background */
.background_image {
    position: absolute;
    z-index: -10;

    width: 100vw;
    min-width: 1100px;
    height: 100vh;

    background: url(../images/main_img.jpg) no-repeat;
    background-position: 0vh -20vh;
    background-size: cover;
}

/* =====// header */
.header {
    display: flex;
    justify-content: space-between;

    /* 화면 상단 고정 */
    position: fixed;

    /* 100vw에서 양쪽 padding을 뺀 나머지 */
    width: calc(100vw - (100vw - 1200px));
    height: 100px;

    background-color: var(--color-navi);

    /* 네비 너비 1200을 뺀 나머지는 padding */
    padding: 0 calc((100vw - 1200px) / 2);
}

.header>div {
    display: flex;
    height: 100%;
}

/* logo box */
.header_logo>a::after {
    /* 로고 텍스트 뒷부분에 "|"를 입력 */
    content: "|";
    animation: none;
}

.header_logo>.change_logo::after {
    /* .header_logo 자식 태그 클래스 */
    /* 해당 클래스가 추가될 경우 blink 애니메이션 적용 */
    animation: blink 0.5s step-end infinite;
}

@keyframes blink {
    /* blink 애니메이션 */

    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.header_logo {
    justify-content: center;
    align-items: center;
    width: 100px;

    font-family: var(--font-logo);
    font-size: var(--font-size-logo);

}

.header_logo>a {
    color: #fff;
    text-shadow: var(--shadow-font);
}

/* menu box */
.header_menu {
    align-items: center;

    position: relative;

    width: 600px;

    font-size: var(--font-size-menu1);
    font-weight: 600;
}

.header_menu>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

}

.header_menu>ul>li>a {
    display: block;
    width: 150px;

    color: #fff;
    text-align: center;

    text-shadow: var(--shadow-font);
}

.header_menu>.show {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 150px;
    height: 2px;

    background-color: #fff;

    transition: left .3s ease-in;
}

/* member stat box */
.header_member_stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100px;
}

.member_image {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: var(--color-gray);
}

.member_image+span {
    width: 100px;

    font-size: var(--font-size-cont3);
    color: #fff;
    text-align: center;

    margin-top: 10px;

    text-shadow: var(--shadow-font);
}

/* =====// header end //===== */

/* =====// contents start //===== */

/* =====// contents end //===== */

/* =====// footer start //===== */

/* =====// footer end //===== */